function csc_rally() {
    export http_proxy={{ proxy_env["http_proxy"] | default('') }}
    unset https_proxy
    {% if rally_install_method == 'package' -%}
        source /home/rally/rally/bin/activate
    {% else -%}
        podman system prune -f
        podman image ls |grep -v REPO | grep {{ container_image }} | awk '{print($3)}'  | while read -r image_id; do echo podman image rm -f "${image_id}"; done
            {% if rally_container_image != '' -%}
            podman image ls |grep -v REPO | grep {{ rally_container_image }} | awk '{print($3)}'  | while read -r image_id; do echo podman image rm -f "${image_id}"; done
            {% endif -%}
    {% endif -%}
    {{ rally_cmd }} deployment use {{ item.key }}
}
